#main {
  background: url('maurader\'s\ map.png') no-repeat center center fixed;
  background-size:cover;
  background-color:rgb(65, 6, 6);
}

#welcome{
  position: absolute;
  top:5%;
  left:7%;
  color:white;
  font-family: 'Tangerine', cursive;
  font-size: 45px;
  font-weight:800;
}

#questions{
  background:url("parchment.jpg")no-repeat center center fixed;
  background-size:cover;
  margin-left:0px;
  margin-top: 60px;
}

.quest, .ask, radio{
  margin-left: 75px;
}

.ask{
  font-family: 'Markazi Text', serif;
  font-size: 30px;
}

label{
  font-family: 'Lora', serif;
  font-size: 18px;
}

nav, .navbar-name{
  font-size: 30px;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bold; 
  background-color:maroon;
  color: goldenrod;
}


input,.ask{
  margin-left:25px;
}

#message{
background:url("quidditch.jpg")no-repeat center center fixed;
background-color:rgb(65, 6, 6);
background-size:cover;
height: 100vh;
}

#enter{
  position: absolute;
  bottom:0;
  left:33%;
  font-family: 'Tangerine', cursive;
  font-size: 45px;
}

#end{
  position: relative;
  bottom:0;
  left:45%;
  font-family: 'Tangerine', cursive;
  font-size: 40px;
}

 #scoreMessage{
  position: absolute; 
  bottom:0;
  left:45%; 
  color: black;
  font-size: 25px;
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: bolder;
}

#mischief{
  position: absolute;
  top:5%;
  left:40%; 
  color:black;
  font-family: 'Tangerine', cursive;
  font-weight:800;
  font-size: 80px;
} 