#main {
  background: url('maurader\'s\ map.png') no-repeat center center fixed;
  background-color:rgb(65, 6, 6);
  background-size: 1300px 700px;
}

#questions{
  background-color: white;
  margin-left:0px;
  background-image:none;
}

input,.ask{
  margin-left:25px;
}

#message{
background:url("quidditch.jpg") no-repeat center center fixed;
background-color:rgb(65, 6, 6);
background-size:contain;
height: 662px;
}

form{
  margin-left: 100px;
}

#enter{
  margin-top: 550px;
  position: absolute;
  margin-left:370px;
}

#end{
  margin-left:550px;
}

#scoreMessage{
  margin-left: 550px;
  color: black;
  padding-top: 500px;
}